<h1 class="animated fadeIn fast"> Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis autem magni dolore itaque eum impedit, laborum possimus necessitatibus, dicta aperiam suscipit magnam ab quasi quam exercitationem corrupti architecto nesciunt dolor.
</p>